@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://i1.sndcdn.com/avatars-GTfimdzanLi1EWIT-eujjUw-t500x500.jpg" />
    <p>Learn about how our lord and savior Shrek <a href="https://sites.google.com/view/the-shrek-cult/shrek-is-love-shrek-is-life?pli=1">  is commiting crimes against humanity</a>.</p>
</div>
