@model User

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Thank you for registering @Model.firstname @Model.lastname</h1>
<p>Your Email @Model.email has been provided to our associates and you will be bombarded with spamware. Thank you for your support.</p>
<p>Please proceed to the nearest consumer point. YOU WILL CONSUME OUR PRODUCT.</p>
<p><img src="https://pbs.twimg.com/media/Ez-4r87XMAMPayC.jpg"</p>
